<div class="d-flex flex-column mt-auto mb-5">
  <div class="d-flex flex-column align-items-center mb-2">
    <a class="" href="https://github.com/pythops/amagpt3"> <i class="fab fa-github fa-4x" style="color: white;"></i> </a>
    <a href="https://github.com/pythops/amagpt3" class="link-light" >amagpt3</a>
  </div>
  <small class="text-secondary mx-auto">Copyright ©2022 Badr BADRI <a href="https://github.com/pythops" class="link-secondary text-decoration-none"  target="_blank" rel="noopener noreferrer">@pythops</a></small>
</div>
