<div class="d-flex flex-column mt-auto mb-5">
  <div class="d-flex flex-column">
    <a
      class="mx-auto my-3"
      href="https://www.buymeacoffee.com/pythops"
      target="_blank"
      ><img
        src="https://www.buymeacoffee.com/assets/img/custom_images/orange_img.png"
        alt="Buy Me A Coffee"
        style="
          height: 41px !important;
          width: 174px !important;
          box-shadow: 0px 3px 2px 0px rgba(190, 190, 190, 0.5) !important;
          -webkit-box-shadow: 0px 3px 2px 0px rgba(190, 190, 190, 0.5) !important;
        "
    /></a>
    <p class="text-white text-center fw-bold">
      If you find this open source project useful, please consider supporting it
      by buying me a coffee.<br />
      Your donation will help cover the costs of development and maintenance,
      and will ensure that the project continues to improve and evolve. <br />
      Thank you for your support!
    </p>
  </div>
  <div class="d-flex flex-column align-items-center mb-2">
    <a class="" href="https://github.com/pythops/amagpt3">
      <i class="fab fa-github fa-4x" style="color: white"></i>
    </a>
    <a href="https://github.com/pythops/amagpt3" class="link-light">amagpt3</a>
  </div>
  <small class="text-secondary mx-auto"
    >Copyright © Badr BADRI
    <a
      href="https://github.com/pythops"
      class="link-secondary text-decoration-none"
      target="_blank"
      rel="noopener noreferrer"
      >@pythops</a
    ></small
  >
</div>
